fastapi==0.136.0
uvicorn[standard]==0.44.0
pydantic==2.13.2
pydantic-settings==2.13.1
python-dotenv==1.2.2
pandas==3.0.2
httpx==0.28.1
azure-cosmos==4.15.0
torch==2.11.0
aiohttp==3.13.5
git+https://github.com/amazon-science/chronos-forecasting.git@ea10d73fbb1ad6644ce68a514c7d4d9ef3d1df5d
firebase-admin==7.4.0
slowapi==0.1.9
