PSE_MAX_CONCURRENCY=10
LOG_LEVEL=INFO
TAVILY_API_KEY=
GEMINI_API_KEY=
COSMOS_URI=
COSMOS_PRIMARY_KEY=
COSMOS_DATABASE_ID=agos-db
COSMOS_PSE_CONTAINER=pse_stock_data
COSMOS_MACRO_CONTAINER=macro_data
COSMOS_NEWS_CONTAINER=news_sentiment_data

